{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf200
{\fonttbl}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww28600\viewh15260\viewkind0
}

.banner {
    position: absolute;
left: 0%;
right: 73.75%;
top: 3.9%;
bottom: 90%;

background: #744F4F;
}

.banner2 { 
    position: absolute;
left: 28.62%;
right: 62.5%;
top: 3.9%;
bottom: 90%;

background:#744F4F;
}

.banner3 {
    position: absolute;
left: 38.56%;
right: 0%;
top: 3.9%;
bottom: 90%;

background: #744F4F;
}

.bannerimage {
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 90%;

background: red;
box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}